/* -----------------------------------------
  09.  MOBILE MENU
----------------------------------------- */
#mobilemenu {
	display: none;

	@media ( max-width: $screen-xs-max ) {
		display: block;
	}
}

#mobile-bar {
	display: none;
	text-align: center;
	position: fixed;
	top: 0;
	right: 25px;
	z-index: 1000;	

	@media ( max-width: $screen-xs-max ) {
		display: block;
		
	}
}

.menu-trigger,
.menu-trigger:focus {
	display: block; 
	padding: 10px 0 10px 12px; 
	background: none;
	cursor: pointer;
	margin: 0;
	outline: none;
	color: #333;
	font-size: 30px;
	line-height: 1;
}