@mixin linear-gradient($primary-color: $primary-color, $secondary-color: $secondary-color) {
	background-color: $primary-color;
	background-image: -webkit-linear-gradient(left, $primary-color, $secondary-color);
	background-image: linear-gradient(to right, $primary-color, $secondary-color);
}

@mixin skew-line {
	position: relative;

	&:after {
		background-color: $primary-color;
	}
}

body {
	color: $text-color;
}

a {
	color: $primary-color;

	&:hover,
	&:focus {
		color: lighten($primary-color, 10%);
	}
}

blockquote {
	cite {
		color: rgba($text-color, 0.8);
	}
}


input,
textarea {
	border: 2px solid $border-color;
	background-color: #FFF;
	background-image: none;

	&:hover {
		border-color: darken($border-color, 5%);
	}

	&:focus {
		border-color: darken($border-color, 10%);
		outline: none;
	}
}


.comment-reply-link,
.btn,
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
	color: $text-on-primary;
	@include linear-gradient();

	&:active {
		color: $text-on-primary;
	}

	&:hover {
		color: $text-on-primary;
	}

	&:focus {
		color: $text-on-primary;
	}

	&:before {
		background-color: $primary-color;
	}

	&.btn-white {
		color: $text-color;
		background: #FFF;
		border-color: #FFF;

		&:before {
			display: none;
		}

		&.btn-transparent {
			color: #FFF;
		}

		&:hover {
			@include linear-gradient();
			color: $text-on-primary;
		}
	}

	&.btn-transparent {
		background: none;
		border-color: $border-color;
		color: $text-color;

		&:hover {
			@include linear-gradient();
			color: $text-on-primary;
		}

		&:before {
			display: none;
		}
	}

	&.btn-inactive {
		background: #FFF;
		border: 2px solid #EBEBEB;
		color: #b2b2b2;

		&:hover {
			background: #FFF;
			border: 2px solid #EBEBEB;
			color: #b2b2b2;
		}
	}
}

.mfp-preloader {
	color: #FFF;

	a, a:hover {
		color: #FFF;
	}
}

.mfp-close-btn-in {
	.mfp-close {
		color: #FFF;
	}
}

.mfp-container:not(.mfp-s-error) {
	.mfp-preloader {
		background-color: #FFF;
	}
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
	color: #FFF;
}

.mfp-title {
	color: #FFF;
}

.mfp-arrow {
	&:before,
	&:after {
		border: none;
	}

	&:after {
		color: #FFF;
	}
}

.mfp-inline-holder {
	.mfp-close {
		color: #FFF;
	}
}

.navigation {
	a {
		color: #FFF;
 	}

	> li > a {
		border-bottom: 2px solid transparent;
 	}

	> li ul a {
		background: #000;
		border-bottom: 1px solid #292322;
	}

	> li ul a:hover,
	> li ul .sfHover > a {
		color: #FFF;
		background: $primary-color;
	}

	> li > a:hover,
	> li.sfHover > a,
	> li.sfHover > a:active,
	> li.current_page_item > a,
	> li.current-menu-item > a,
	> li.current-menu-ancestor > a,
	> li.current-menu-parent > a,
	> li.current > a {
		border-bottom: 2px solid $primary-color;
	}

	ul {
		border: 3px solid #292322;
	}
}

.nav-secondary-wrap {
	border: 1px solid rgba(#FFF, 0.1);
}

.nav-footer {
	li {
		a {
			color: #FFF;
		}
	}
}

.header {
	color: $text-on-primary;
	background-color: rgba(white,0.1);
}

.ci-slider {
	.ci-control-paging li a {
		background: transparent;
		border: 2px solid #FFF;

		&.ci-active {
			background: $primary-color;
			border-color: $primary-color;
		}

		&:hover {
			background: #FFF;
			border-color: #FFF;
		}
	}
}

.slide-content {
	@include skew-line;
}

.item {
	a {
		border: 1px solid $border-color;
	}

	&:hover {
		.btn {
			@include linear-gradient();
			color: $text-on-primary;
			border-color: mix($primary-color, $secondary-color);
		}
	}
}

.item-info {
	color: #FFF;
}

.item-meta {
	border-top: 1px solid $border-color;

	th, td {
		border-bottom: 1px solid $border-color;
		border-left: 1px solid $border-color;
	}

	td {
		border-right: 1px solid $border-color;
	}
}

.item-timer {
	.count {
		border: 1px solid $border-color;

		b {
			color: $primary-color;
		}
	}
}

.list-item {
	border-bottom: 1px solid $border-color;

	&:first-child {
		border-top: 1px solid $border-color;
	}

	&:before {
		@include linear-gradient();
	}

	&:hover,
	&.sm2_container_playing,
	&.expanded {
		border-bottom-color: transparent;

		.list-item-no,
		.list-item-title,
		.list-item-title a {
			color: $secondary-text-on-primary;
		}

		.list-item-group {
			color: $text-on-primary;
		}

		.btn {
			background: #FFF;
			color: $text-color;

			&:before {
				display: none;
			}
		}
	}
}

.list-item-no,
.list-item-title {
	color: $primary-color;
}

.entry-title {
	a {
		color: $text-color;

		&:hover {
			color: $primary-color;
		}
	}
}

#paging {
	a,
	> span,
	li span {
		border: 2px solid $border-color;
	}
}

.ci-soundplayer-controls {
	a {
		color: $primary-color;

		&:hover,
		&:focus {
			color: $primary-color;
		}

		&.ci-soundplayer-play {
			color: $text-on-primary;
		}
	}
}

.ci-soundplayer-play {
	background-color: $primary-color;
}

.ci-soundplayer-prev,
.ci-soundplayer-next {
	background-color: #FFF;
}

.ci-soundplayer-meta {
	.track-bar {
		background-color: #FFF;
	}

	.progress-bar {
		@include linear-gradient();
	}
}

.hero-player {
	background-color: $primary-color;

	.ci-soundplayer-play {
		border: 2px solid #FFF;
	}
}

.home-slider + .hero-player {
	background: rgba(white,0.1);

	.ci-soundplayer-play {
		border: none;
	}
}

.hero-video + .hero-player {
	background: rgba(white,0.1);

	.ci-soundplayer-play {
		border: none;
	}
}

.form-allowed-tags,
.comment-notes {
	color: rgba($text-color, 0.8);
}

.widget-title {
	&:after {
		background-color: $primary-color;
	}
}

.section-title,
.page-title {
	&:after {
		@include linear-gradient();
	}
}
.hero-content {
	@include skew-line;
}

.widget {
	select {
		border: 1px solid $border-color;
	}
}

.widget_meta,
.widget_pages,
.widget_categories,
.widget_archive,
.widget_nav_menu,
.widget_recent_entries {
	ul {
		li {
			a {
				border-bottom: 1px solid $border-color;
			}
		}
	}
}

.widget_recent_comments {
	ul {
		li {
			border-bottom: 1px solid $border-color;
		}
	}
}

.social-icon i {
	background-color: $primary-color;
	color: #FFF;
}

.social-icon:hover i {
	background-color: $secondary-color;
}

.widget .instagram-pics li {
	a {
		color: $text-color;
	}
}

@media ( min-width: 992px ) {
	.sidebar {
		.list-item-no {
			color: $text-color;
		}
	}
}