$primary-color: #5D7EFF !default;
$secondary-color: #3ebaef !default;
$text-color: #333333 !default;
$secondary-text-color: #626262 !default;
$text-on-primary: #FFFFFF !default;
$secondary-text-on-primary: #333333 !default;
$border-color: #EBEBEB !default;

@import '_base.scss';