$primary-color: #ff0870 !default;
$secondary-color: #ff4f9f !default;
$text-color: #555 !default;
$secondary-text-color: #626262 !default;
$text-on-primary: #FFFFFF !default;
$secondary-text-on-primary: #333333 !default;
$border-color: #EBEBEB !default;

@import '_base.scss';