/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/

@media screen and ( max-width: 860px ) {

  .ci-direction-nav {

    .ci-prev { 

      opacity: 1; 
      left: 10px;

    }

    .ci-next { 

      opacity: 1; 
      right: 10px;

    }
  }
}
