/* CI Custom Sound Player */

.hero-player {
	height: 100px;
	position: relative;
	z-index: 10;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	color: #FFF;
	font-family: $secondary-font;
}

.ci-soundplayer {
	position: relative;
	@include clearfix();
	height: 100px;
	padding: 24px 0;

	&.playing {
		.ci-soundplayer-play {
			text-indent: 0;

			.fa-play:before {
				content: "\f04c";
			}
		}
	}
}

.ci-soundplayer-controls {
	width: 120px;
	float: left;
	position: relative;
	text-align: center;
	margin: 0 25px 0 0;

	a {
		display: inline-block;
		color: $primary-color;
		border-radius: 50%;

		&:hover,
		&:focus {
			color: $primary-color;
		}

		&.ci-soundplayer-play {
			color: $text-on-primary;
		}
	}
}

.ci-soundplayer-play {
	display: inline-block;
	text-align: center;
	width: 53px;
	height: 53px;
	background-color: $primary-color;
	line-height: 51px;
	font-size: 24px;
	text-indent: 2px;
	position: relative;
	margin: 0 auto;
	z-index: 2;
}

.ci-soundplayer-prev,
.ci-soundplayer-next {
	background-color: #FFF;
	width: 39px;
	height: 39px;
	text-align: center;
	position: absolute;
	top: 8px;
	font-size: 12px;
	line-height: 38px;
	z-index: 1;

	.ci-streaming & {
		opacity: 0.6;
		pointer-events: none;
	}
}

.ci-soundplayer-prev {
	left: 3px;
	text-indent: -1px;
}

.ci-soundplayer-next {
	right: 3px;
	text-indent: 1px;
}

.ci-soundplayer-meta {
	overflow: hidden;
	zoom: 1;
	position: relative;
	padding: 5px 0 0;

	.track-title {
		display: inline-block;
		margin-bottom: 8px;
		font-size: 14px;
	}

	.track-bar {
		width: 100%;
		height: 5px;
		background-color: #FFF;
		position: relative;
		cursor: pointer;

		.ci-streaming & {
			cursor: default;
			pointer-events: none;
		}
	}

	.progress-bar {
		height: 5px;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		@include linear-gradient();

		.ci-streaming & {
			display: none;
		}
	}

	.load-bar {
		height: 5px;
		background-color: lighten(#242424, 10%);
		position: absolute;
		left: 0;
		top: 0;

		.ci-streaming & {
			display: none;
		}
	}

	.track-position {
		font-size: 12px;
		position: absolute;
		right: 0;
		top: 10px;

		.ci-streaming & {
			display: none;
		}
	}
}

.ci-soundplayer-tracklist {
	display: none;
}